<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NinjaNye.SearchExtensions" version="3.0.1" targetFramework="net472" />
  <package id="NinjaNye.SearchExtensions.Soundex" version="3.0.1" targetFramework="net472" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net472" />
</packages>